@font-face {
  font-family: "";
  src: url("./fonts/MUSEOSANS-500.OTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Montserrat", Arial, sans-serif;
}

body {
  background-color: #1F1B44;
}

h1 {
  color: #FFFFFF;
  font-size: 28px;
}

p {
  color: #FFFFFF;
}

#header {
  background-color: green;
}

#header .navbar-nav .nav-link {
  color: #FFFFFF;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#header .navbar-nav .nav-link:hover {
  opacity: 0.6;
}

#banner {
  min-height: 600px;
}

#about {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#aboutlogo a {
  font-size: 2rem;
  margin-right: 1rem;
}

#footer a {
  color: #FFFFFF;
  text-decoration: none;
}

#footer span {
  font-size: 14px;
  display: flow-root list-item;
}

#footer span:hover {
  opacity: 0.6;
}

.bg-light {
  background-image: url("../images/");
  background-position: center;
  background-repeat: repeat;
}

.bg-light p {
  color: #1F1B44;
}

.banner {
  max-width: 890px;
  background-color: rgba(31, 27, 68, 0.7);
  border-radius: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.navbar-brand {
  color: #17162B;
}

.big-icon {
  width: 100px;
}

.about-img {
  max-width: 100%;
  width: 440px;
  color: #FFFFFF;
}

.back-to-top {
  position: fixed;
  bottom: 19px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  padding: 0;
}